/**
*   Schriftart von Google importieren
**/

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');

/**
*   Basis CSS
**/

* {
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    /* height: 100%; */
    width: 100%;
}

body{
    background: url(https://images.unsplash.com/photo-1493804961404-ecabb5ab3d4a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=397b5cc375162522b43a6ab989b9583b&auto=format&fit=crop&w=1950&q=80) no-repeat center center fixed;
    background-size: cover;
}


.inhalt{
    background: rgba(255,255,255,0.95); 
    border-radius: 5px;
    margin: 0 auto;
    width: 450px;
    padding: 20px;
}

.inhalt.big{
    width: 800px;
}

.inhalt h2{
    text-align: center;
    margin-bottom: 40px;
}

.MainDiv .title h1 {
    margin: 0;
    color: white;
}

.MainDiv .title h1 a{
    color: white;
}
  
.MainDiv .logout{
    color: white;
}
  
.MainDiv .title {
    padding: 10px;
    background-color: #3171e0;
    color: white;
    margin-bottom: 50px;
}

.footer{
    bottom: 0;
    text-align: center;
    width: 100%;
}

.logout {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    background: transparent;
    border: 1px solid transparent;
    padding: 10px;
    float:  right;
}

.list {
    color: #3880ff;
    background: transparent;
    border: 1px solid transparent;
    padding: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.mail {
    color: #3880ff;
    background: transparent;
    border: 1px solid transparent;
    padding: 10px;
    display: block;
    text-align: center;
}

.input{
    border: 1px solid #3171e0;
    background: #eee;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.button{
    border: 1px solid #3171e0;
    background: #3880ff;
    padding: 10px;
    color:#ffffff;
}

.link {
    color: #3880ff;
    background: transparent;
    border: 1px solid transparent;
    padding: 10px;
}

.label{
    display: inline-block;
    width: 100px;
}

.field{
    width: 300px;
    display: inline-block;

}
.field  select{
    width: 100%;
    height: 34px;
    padding: 5px;
  }

.field input[type="text"], 
.field input[type="password"], 
.field input[type="date"] {
    width: 100%;
    padding: 5px;
}

.field  textarea{
    width: 100%;
    padding: 5px;
}

.control{
    margin-bottom: 10px;
}

.width-70{
    width: 70px;
}

.buttons{
    margin-top: 20px;
}

.buttons input{
    width: 49%;
}

.title{
    text-align: left;
}

.title h1{
    margin: 40px 0;
}

h1 > a{
    color: #000000;
    text-decoration: none;
}

/**
*   Tabellarisches Darstellen
*/

.grid-tabelle {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr;
}

.grid-tabelle .titel {
    background-color: #3171e0;
    color: white;
    font-weight: bold;
}
.grid-tabelle > div{
  padding: 3px 10px;
}

.grid-tabelle div{
    border-bottom: 1px solid rgba(100,100,100,0.2);
  
}
.img{
    height: 150px;
    width: auto;
}