/**
*   Schriftart von Google importieren
**/

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');

/**
*   Basis CSS
**/

* {
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    /* height: 100%; */
    width: 100%;
}

body{
    background: url(https://images.unsplash.com/photo-1493804961404-ecabb5ab3d4a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=397b5cc375162522b43a6ab989b9583b&auto=format&fit=crop&w=1950&q=80) no-repeat center center fixed;
/*background: url(https://images.unsplash.com/photo-1521623569012-4eb30b21369a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=28ee2f63a210ba9ebacd002c1f7dbf8c&auto=format&fit=crop&w=1950&q=80) no-repeat center center fixed; */
    background-size: cover;
}


.inhalt{
    background: rgba(255,255,255,0.75);
    border-radius: 5px;
    margin: 0 auto;
    width: 450px;
    padding: 20px;
}
.inhalt h2{
    text-align: center;
    margin-bottom: 40px;
}

.footer{
    bottom: 0;
    text-align: center;
    width: 100%;
}

.logout {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    border: 1px solid transparent;
    padding: 10px;
    float:  right;
}

.list {
    color: #3880ff;
    background: transparent;
    border: 1px solid transparent;
    padding: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.input{
    border: 1px solid #3171e0;
    background: #eee;
    padding: 10px;
    width: 100%;
}

.button{
    border: 1px solid #3171e0;
    background: #3880ff;
    padding: 10px;
    color:#ffffff;
}

.link {
    color: #3880ff;
    background: transparent;
    border: 1px solid transparent;
    padding: 10px;
}

.label{
    display: inline-block;
    width: 100px;
    vertical-align: top;
}

.field{
    width: 300px;
    display: inline-block;
}
.control{
    margin-bottom: 10px;
}
.width-70{
    width: 70px;
}

.buttons input{
    width: 49%;
}
.title{
    text-align: center;
}
.title h1{
    margin: 40px 0;
}

/**
*   Tabellarisches Darstellen
*/

.grid-tabelle {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.grid-tabelle .titel{
    font-weight: bold;
}