

body {
	padding:0px;
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:13px;
	color:#333;
	background-color:white;
	}
	
h1 {
	margin:50px 0px -50px 0px;
	padding:0px;
	font-size:36px;
	line-height:28px;
	font-weight: bold;
	color:#ccc;
	
	}
	
p {
	font:11px/20px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 16px 0px;
	padding:0px;
	text-align: center;
	}
p.Table{
	text-align: left;
	padding-right: 25px;
	font-weight: bold;
}

a{
	color:#09c;
	text-decoration:none;
	font-weight:600;
	font-family:verdana, arial, helvetica, sans-serif;
	font-size:28px;
	text-align: center;

	
}
a:link {color:#09c;}
a:hover {color:#000;}

div.Inhalt{
	margin-top: 200px;
	padding: auto;
	text-align: center;
}
div.footer{
	margin-top: 200px;
	float:both;
	text-align: center;
}

table { border-style: none;
	margin: auto;}
td { 
	border-style: none;
	
}
th{ border-style: none;
	 text-align:left;}
	 
div.divMain {
margin-top:100px;
text-align:center;
}

form.Back
{
	margin-left:813px;
	margin-top:50px;
}
